[2021-05-23 14:24] vkkhare opened #5 "Implement federated training algorithm"
Add multi worker training implementation for federated learning in simulation on local machine. We should be able to mimic local training, aggregation and model update.

[2021-05-23 14:25] vkkhare opened #4 "Benchmark and improve accuracy for FL recsys"

[2021-06-24 13:33] vkkhare opened #7 "Process Manager Tasks"
Assume n aggregators and k trainers.

- [x] Aggregator always starts a cycle by calling `get_model_updates()` from its neighbours.
- [x] All these requests are passed on to the global com manager and the aggregator suspends
- [x] The requests from communication interface passes onto Process Manager
- [x] Comm manager collates the receive requests and sends `neighbours_out` to the respective worker

[2021-07-01 11:52] vkkhare opened #8 "Worker communication manager"
Every worker will hold their own instance of worker manager that will keep listening to their async Queue. The manager will submit a request to the global comm manager/ Global stream and suspend until its response is given back.

[code]
The receive method will use asyncio [Queue](https://docs.python.org/3/library/asyncio-queue.html) to suspend the coroutine until the queue gets filled with the res

[2021-07-01 11:58] vkkhare opened #9 "Implement Process Manager"
The process manager will be getting jobs request from the kafka stream/Global Comm Manager and distribute the tasks amongst the already running child processes.

The data scientist will specify the `number of workers` in the process pool in the beginning and will launch always running child processes.

Each child process holds a `BaseTrainer` object and a job queue. For every training job, we call

[2021-07-01 12:00] vkkhare opened #10 "Update train and test calls in Federated Worker"
The `train` and `test` calls inside [FederatedWorker](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/federated_worker.py#L156) currently call trainer's test and train directly in the same process. However, they would need to submitted to the process manager to execute them in a separate process over a different machine.

Implement job submission for these methods in FederatedWorker

[2021-07-02 06:03] vkkhare opened #11 "OpenMined integration"
Support deployment using OM stack

[2021-07-07 16:56] vkkhare opened #12 "Message content for communication"
# Job Submission
## Training/Aggregate Job
- [Serialized worker state](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/federated_worker.py#L35)
- Job type

The job response returns `success` or `fail` and the trained worker state if success.

## Test Job
- [Serialized worker state](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/federated_worker.py#L35)
- Job type

Returns [Metrics

[2021-07-24 15:53] vkkhare commented on #8
[code]

in a separate file implementing ZeroMQ publisher and subscriber for communication.
[code]

The [CommunicationManager](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/communications/comm_manager.py#L21) class will instantiate ZeroMQ from the registry based on config and call its methods

[2021-07-24 19:33] #10 closed

[2021-08-14 08:32] vkkhare opened #16 "Integration Tasks"
- [x] Global Com Manager needs `handle_messages` (iterate over all the messages in the zeroMQ)
- [x] Communication Manager needs a dict of futures for awaiting on the receive method
- [x] Federated Worker has a method `send_message(msg)` which global com calls to put the msg in its asyncio Q
- [ ] Initiate global com stream on process 0

[2021-08-18 06:26] #8 closed

[2021-09-12 19:36] #9 closed

[2021-09-27 14:36] vkkhare commented on #12
#19 closes this

[2021-09-27 14:36] #12 closed

[2021-09-27 14:37] vkkhare commented on #5
Finished

[2021-09-27 14:37] #5 closed

[2021-09-27 14:54] vkkhare opened #21 "Implement Unique identifiers for message requests"
We need a unique identifier for every request sent out of the worker manager.

Add a unique request identifier (UUID) to the following methods:

- [x] send_job
- [x] send_model
- [x] get_model
- [x] job_response (in process manager)

The request id should be passed on to the receive method of the CommunicationsManager class
[code]

Also create a field request_id in the Message class

[2021-09-27 15:56] vkkhare opened #22 "Handle infinite looping for message listeners"
In[ process_manager](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/multiprocessing/process_manager.py#L18) and worker_com_manager, there is always on running loop for listening to messages. We need these looping mechanisms to run on a separate thread so that listening to messages do not get blocked when the worker gets suspended.

Instead of using `asyncio.get_current_loop()` or `asyncio

[2021-09-29 10:30] vkkhare opened #25 "Document Preprocessor Class"
[This class](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/preprocessor.py) sets the dataset for each of the workers.

[2021-09-29 10:40] vkkhare opened #26 "Document Process Manager"
[File reference](https://github.com/NimbleEdge/RecoEdge/tree/main/fedrec/multiprocessing/process_manager.py)

[2021-09-29 10:42] vkkhare opened #27 "Document Worker Communications Manager"
[File reference](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/communications/worker_manager.py)

[2021-09-29 10:44] vkkhare opened #28 "Document Registry"
[File Reference](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/utilities/registry.py)

[2021-09-29 15:04] sidarth164 opened #29 "Actor Model Integration"
The current worker model is very similar to the [actor model](https://arxiv.org/vc/arxiv/papers/1008/1008.1459v8.pdf) (the workers can be thought of as actors, and the comm manager as the actor's mailbox)

Right now the business logic is closely coupled with the network implementation details. This means that worker is run as a thread, and has to suspend/wait for a response from some other worker.

[2021-10-02 07:15] sidarth164 opened #31 "Model worker as an Actor"
## What
Decouple the worker execution from the actual business logic. This would allow us to avoid implementing worker co-routines.

## Objectives
- [ ] Identify worker states
- [ ] Add worker behaviors based on message received
- [ ] A behavior can change the worker state

## Tasks
- [ ] Define communications between different actors
- [ ] Implement Orchestrator actor
- [ ] Implement Aggregator a

[2021-10-17 08:32] vkkhare opened #35 "Implement Kafka communication interface"

[2021-10-17 08:33] #22 closed

[2021-11-01 09:35] vkkhare commented on #35
#34 closes this

[2021-11-01 09:35] #35 closed

[2021-11-11 11:39] vkkhare opened #37 "Deserialization and Serialization for jobber"
We need to implement [deserialize_object](https://github.com/NimbleEdge/RecoEdge/blob/akka_python/fedrec/multiprocessing/jobber.py#L21) and serialise methods for various classes.

- [ ] Implement tensor serialization. The tensors will be stored on S3 or a storage medium and the message will give a URL for the storage location. Read the tensor file from there and load it in the memory for running t

[2021-11-11 11:46] vkkhare opened #38 "Calling Aggregator Methods from Jobber"
The Jobber needs to store a reference to a loaded [Aggregator](https://github.com/NimbleEdge/RecoEdge/blob/akka_python/fedrec/python_executors/aggregator.py#L62) to get the user implementations of `aggregate` and `sample_client` methods. Currently, it only has a reference to [Trainer](https://github.com/NimbleEdge/RecoEdge/blob/akka_python/fedrec/python_executors/trainer.py#L31)

- [x] Define a co

[2021-11-11 11:49] vkkhare opened #39 "Run trainer Job Request by Jobber"
The Jobber needs to store a reference to a loaded [Trainer](https://github.com/NimbleEdge/RecoEdge/blob/akka_python/fedrec/python_executors/trainer.py#L31)
 to get the user implementations of `train` and `test` methods.

- [x] Define a config parameter on the number of trainer processes
- [x] Initialise the number of  trainer job executors
- [x] For each trainer executor jobber loads the methods a

[2021-11-11 11:51] #16 closed

[2021-11-12 13:04] vkkhare opened #41 "Write the executor script to initiate child processes"
the executor.py will start all the child processes and start listening to job submissions that come from the communication interface (could be Kafka or otherwise)

[2021-11-12 13:15] vkkhare opened #42 "🚨 Tests : Dummy Akka System"
create a script to call basic executor methods for the time being. This script will later be replaced by akka modules.

[2021-11-12 17:20] vkkhare commented on #42
The script needs to submit jobs to the Kafka/communication queue so that the multiprocessing system can execute them.

It involves the following:
- [ ]  Initialize the workers [like this one](https://github.com/NimbleEdge/RecoEdge/blob/d8e8ed87010a547295129c041513067bc0342035/fedrec/federated_worker.py#L396)
- [ ] Start a [Kafka producer](https://github.com/NimbleEdge/RecoEdge/blob/akka_python/fed

[2021-11-13 08:27] vkkhare opened #43 "Explore distributed data parallel for multi-processing"
All the executor workers will always be running fetching jobs and finishing them.
We should explore torch distributed data parallel and tensorflow parallel to optimize training across the child processes.

[2021-11-14 23:46] #7 closed

[2021-11-14 23:46] #26 closed

[2021-11-14 23:46] #27 closed

[2021-11-15 01:23] #41 closed

[2021-11-15 01:28] vkkhare opened #47 "Design UX for Trainer and Aggregator"
We have to decide how should the user defined aggregator and trainer functions be implemented.

We will be creating a frontend abstract class that the user subclasses to implement the basic logic like test/train/any other user method for trainer and aggregate/sample/any other user method for aggregator

[2021-11-19 19:42] #38 closed

[2021-11-19 19:42] #39 closed

[2021-12-08 09:08] ramesht007 opened #51 "📚 Documentation: Write inline documentation for fedrec/multiprocessing/jobber.py"
# Where?

HERE-
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/multiprocessing/jobber.py#L62
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/multiprocessing/jobber.py#L79
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/multiprocessing/jobber.py#L86

# Who?

[2021-12-08 09:13] ramesht007 opened #52 "Write inline documentation for fedrec/communications/kafka_interfaces.py"
# where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/communications/kafka_interfaces.py)

# Who?

Anyone who wants to get know the code base of NimbleEdge as well as any file in the project.

# What?

Please follow these guidelines: [Link](https://numpydoc.readthedocs.io/en/latest/format.html)
We need to go "line-by-line" and create inline documentation for this file. Please tr

[2021-12-08 09:21] ramesht007 opened #53 "Write Inline documentation for fedrec/communication/worker_manager.py"
# where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/communications/worker_manager.py)

# Who ?

Anyone who wants to get know the code base of NimbleEdge as well as any file in the project.

# What?

Please follow this link: [Link](https://numpydoc.readthedocs.io/en/latest/format.html)
We need to go "line-by-line" and create inline documentation for this file. Please try to use

[2021-12-08 09:33] ramesht007 opened #54 "Write inline documentation for fedrec/communications/zeroMQ_interfaces.py"
# where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/communications/zeroMQ_interfaces.py)

# Who?

Anyone who wants to get know the code base of NimbleEdge as well as any file in the project.

# What?

Please follow these guidelines: [Link](https://numpydoc.readthedocs.io/en/latest/format.html)
We need to go "line-by-line" and create inline documentation for this file. Please t

[2021-12-08 09:43] ramesht007 opened #55 "Write tests for fedrec/multiprocessing/jobber.py"
# who?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/multiprocessing/jobber.py)

## Type of Test
- [x] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [ ] **Integration test** (e.g. checking if a certain group or set of functionality is working as intended)
- [ ] **Regression test** (e.g. checking if by adding or removing a module of code allows

[2021-12-08 10:00] vkkhare opened #56 "Write Json serializer/deserializer for the kafka messages"
The structure for the JSON dict is:

[code]

Based on the `type` attach the correct deserializer and create a python object from json. A good example from [StackOverflow](https://stackoverflow.com/questions/6578986/how-to-convert-json-data-into-a-python-object) is

[code]

[2021-12-10 18:14] #56 closed

[2021-12-14 14:29] ramesht007 opened #59 "Write inline documentation for fedrec/serialization/serializers.py"
# Where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/serialization/serializers.py)

# Who?

Anyone who wants to get know the code base of NimbleEdge as well as any file in the project.

# What?

Please follow these guidelines: [Link](https://numpydoc.readthedocs.io/en/latest/format.html)
We need to go "line-by-line" and create inline documentation for this file. Please try to u

[2021-12-15 14:05] ramesht007 opened #60 "📚 Documentation: Write inline documentation for fedrec/utilities/registry.py"
# Where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/utilities/registry.py)

# Who?

Anyone who wants to get know the code base of NimbleEdge as well as any file in the project.

# What?

Please follow these guidelines: [Link](https://numpydoc.readthedocs.io/en/latest/format.html)
We need to go "line-by-line" and create inline documentation for this file. Please try to use prop

[2021-12-15 14:12] ramesht007 opened #61 "Write tests for fedrec/multiprocessing/process_manager.py"
# who?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/multiprocessing/process_manager.py)

## Type of Test
- [x] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [ ] **Integration test** (e.g. checking if a certain group or set of functionality is working as intended)
- [ ] **Regression test** (e.g. checking if by adding or removing a module of co

[2021-12-15 14:48] ramesht007 opened #62 "📚 Documentation: Write inline documentation for fedrec/python_executors/aggregator.py"
# Where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/python_executors/aggregator.py)

# Who?

Anyone who wants to get know the code base of NimbleEdge as well as any file in the project.

# What?

Please follow these guidelines: [Link](https://numpydoc.readthedocs.io/en/latest/format.html)
We need to go "line-by-line" and create inline documentation for this file. Please try to

[2021-12-15 14:52] ramesht007 opened #63 "Write inline documentation for /RecoEdge/test.py"
# Where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/test.py)

# Who?

Anyone who wants to get know the code base of NimbleEdge as well as any file in the project.

# What?

Please follow these guidelines: [Link](https://numpydoc.readthedocs.io/en/latest/format.html)
We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and En

[2021-12-21 14:36] #53 closed

[2021-12-26 08:30] vkkhare opened #65 "Fix producer and consumer topics"
The workers must send jobs requests on a separate topic and fetch its response from another topic.

Otherwise, a clash happens and the job executor recursively calls itself.

[2021-12-26 15:14] ramesht007 commented on #59
Completed by @divyanshugit

[2021-12-26 15:14] ramesht007 commented on #59
Completed by @divyanshugit

[2021-12-26 15:14] #59 closed

[2021-12-26 17:15] ramesht007 opened #68 "📚 Documentation: Create Documentation pages"
In [docs](https://github.com/NimbleEdge/RecoEdge/tree/main/docs) folder we have to create two folders tutorials and API docs folder.

[2021-12-26 17:28] ramesht007 opened #69 "Load worker state in jobber's worker"
# Where?

fedrec/multiprocessing/[Jobber.py](https://github.com/NimbleEdge/RecoEdge/blob/60bcb7ce2a6882fc89fbfbfe18547c4c308297d2/fedrec/multiprocessing/jobber.py#L65)

[Load worker](https://github.com/NimbleEdge/RecoEdge/blob/60bcb7ce2a6882fc89fbfbfe18547c4c308297d2/fedrec/python_executors/aggregator.py#L119) state before calling `self.woker.run()`.

# Useful Links

- Worker State (Aggregator)-->

[2021-12-27 09:03] ramesht007 opened #70 "Refactor Readme.md and community Guidelines"
# Where
- [Readme.md](https://github.com/NimbleEdge/RecoEdge/blob/main/README.md)
- [CONTRIBUTING.md](https://github.com/NimbleEdge/RecoEdge/blob/main/CONTRIBUTING.md)
- [DOCS](https://github.com/NimbleEdge/RecoEdge/tree/main/docs)
# What to do
- [x] Add Logo banner to Main readme
- [x] Add Activity graph [[Sparkline](https://stars.medv.io/)]
- [x] Add numpy guidelines to [CONTRIBUTING.md](https:/

[2021-12-27 16:44] #70 closed

[2021-12-27 16:44] #65 closed

[2021-12-27 16:49] ramesht007 opened #73 "Create Issue and Pull request templates"
# Where ?

- [Issue_templates](https://github.com/NimbleEdge/RecoEdge/tree/issue_templates/.github)
- [Pull_request_template]()

# Scope

- [ ] New Issue related to Bugs, Enhancements and feature update
- [ ] Pull request quality

# Additional Content

Look into good issue and pull request templates online.

[2021-12-30 13:40] ramesht007 opened #76 "Import handling for registry.py"
# Description

For any module to be registered into the registry it's class file has to be imported apriori.

# Expected

During install the registry should automatically import these modules

# Additional content

None

[2021-12-30 15:44] ramesht007 opened #77 "Implement MNIST classifier and data preprocessor"
# Description

- [ ] Implement FL classifier for MNIST
- [ ] Implement data preprocessor

# Additional Content
None

[2021-12-30 15:46] ramesht007 opened #78 "Implement data split for criteo dataset"

[2021-12-30 15:47] #78 closed

[2021-12-31 19:43] yoohannes commented on #77
hey, I am new to open source but can I work on these?

[2022-01-01 17:13] ramesht007 commented on #77
Hi @yoohannes,
Thanks for showing interest.
Please join our discord server. So that we can fill you in with the details.
You can also checkout our readme for more info.
Thanks

[2022-01-01 17:50] vkkhare commented on #77
Here's the link to [discord server](www.nimbleedge.ai/discord)

[2022-01-03 13:17] divyanshugit opened #79 "Adding support for federated reconstruction"
# Description:

- [ ] Implementation of federated matrix reconstruction

# Additional Content:

- [Blog](https://www.tensorflow.org/federated/tutorials/federated_reconstruction_for_matrix_factorization) on federated matrix reconstruction.
- Official Paper of [Federated Matrix Reconstruction](https://arxiv.org/abs/2102.03448)

[2022-01-04 12:23] ramesht007 opened #83 "Add Pep8 style guide checker"
# Description
To match the code with community guidelines add PEP8 style guide check to the repo.

# Where
 [Here](https://github.com/NimbleEdge/RecoEdge/tree/main/.github/workflows)

# Additional Content
None

[2022-01-05 11:31] #83 closed

[2022-01-06 06:58] #73 closed

[2022-01-06 07:02] #52 closed

[2022-01-06 07:02] #28 closed

[2022-01-08 10:42] ramesht007 opened #89 "🚀 Feature:"
### 🔖 Feature description

Add Logging metrics to Akka system and python modules.

### 🎤 Pitch

To monitor the distributed systems closely, we need logg the info that is created by the actor model and python executers.
We can put all the logg at an endpoint and make a dashbored to monitor the loggs, failures.\
You can find more information in this DOC.

### 📖 Additional Content

_No response_

###

[2022-01-08 10:59] #69 closed

[2022-01-08 11:06] divyanshugit commented on #68
I would like to take it.

[2022-01-08 11:07] ramesht007 commented on #68
Thanks for showing interest. @divyanshugit
Assigned you.

[2022-01-09 15:34] ramesht007 opened #90 "🚀 Feature: Implement Regression for federated Learning"
### 🔖 Feature description

We need to implement Regression for Federated learning.
You can go through this [link](https://flower.dev/blog/2021-07-21-federated-scikit-learn-using-flower) to get better understanding.

Location:
You can create module in [here](https://github.com/NimbleEdge/RecoEdge/tree/main/experiments) under the name regression.

You can implement utilities methods in a `utils` cla

[2022-01-09 15:39] ramesht007 commented on #90
This is a **medium** difficulty task.
Please discuss the your approach before taking up this issue.
You can propose your approach to us on our discord [server](https://discord.gg/nh5rsVt2).
thanks

[2022-01-09 16:08] ramesht007 opened #91 "🚀 Feature: Add Linting CI/CD workflow"
### 🔖 Feature description

Add linting checks to github workflows [here](https://github.com/NimbleEdge/RecoEdge/tree/main/.github/workflows) using flake8.
Blocked by:
#31
#29

### 🎤 Pitch

Current workflows test the PEP8 standards on the repo but we will need linting checks to check for unused variables and redundant functions.
This can be done using flake8 linting checks.

### 📖 Additional Conten

[2022-01-09 21:50] vkkhare opened #92 "🚀 Feature: Implement ML paper for Personalised Federated Learning"
### 🔖 Feature description

We need to support the paper [Personalized Federated Learning for Heterogeneous Clients with Clustered Knowledge Transfer](https://arxiv.org/abs/2109.08119) by Yae Jee Cho, Jianyu Wang, Tarun Chiruvolu, Gauri Joshi.

The presents an interesting approach to cluster the clients and then communicate the models with each other providing hyper-personalization. It also enables

[2022-01-10 12:11] kaiserliche commented on #90
Hey, I want to take this issue. Please assign it if possible.
Thank You!!

[2022-01-10 12:12] ramesht007 commented on #90
Done,
Thanks for showing interest.

[2022-01-11 06:45] ramesht007 opened #93 "📚 Documentation: Write Inline Documentation for train.py"
###  🙋 Where

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/train.py)

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and English grammar to the best of your ability.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have

[2022-01-11 10:02] divyanshugit commented on #55
I would like to work on it.

[2022-01-13 05:10] ramesht007 opened #94 "🚨 Tests: Write test for fedrec/serialization/serializers.py"
### 🛩 Where?

- Create unit test for [serializers.py](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/serialization/serializers.py).
- Add the file to test_suite branch inside test folder [here](https://github.com/NimbleEdge/RecoEdge/tree/testing_suite/test).

### 💭 Description

We expect this file to be covered completely by tests. It's not intended to test feature-related functionality b

[2022-01-13 13:24] isthatdebbiej commented on #79
Please assign it to me.

[2022-01-14 04:38] gagans20 commented on #77
Hi @ramesht007. I'll look into this issue.

[2022-01-14 09:03] ramesht007 commented on #77
hey,
@gagans20 thanks for showing interest.
will assign it you.

[2022-01-15 15:29] ramesht007 commented on #68
TODO tasks:

- [ ] Add repo structure to documentation
- [ ] Add hyper link to repo folder for user navigation
- [ ] Adds tabs to page
- [ ] Refactor discord shield
- [ ] remove small recoedge
- [ ] fix pages that have no documentation

[2022-01-18 05:30] #94 closed

[2022-01-18 05:31] #42 closed

[2022-01-18 11:39] #31 closed

[2022-01-20 16:02] ramesht007 opened #104 "🚨 Tests: Write tests for fedrec/communications/messages.py"
### 🛩 Where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/communications/messages.py)

### 💭 Description

We expect this file to be covered completely by tests. It's not intended to test feature-related functionality but is instead intended to test the file in isolation.

### Type of Test

Unit test

### 👀 Have you spent some time to check if this issue has been raised before?

[2022-01-20 16:04] ramesht007 opened #105 "🚨 Tests: Write tests for fedrec/optimization/corrected_sgd.py"
### 🛩 Where?

[Here](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/optimization/corrected_sgd.py)

### 💭 Description

We expect this file to be covered completely by tests. It's not intended to test feature-related functionality but is instead intended to test the file in isolation.

### Type of Test

Unit test

### 👀 Have you spent some time to check if this issue has been raised before

[2022-01-20 16:20] Yash-Vardhan-Sharma commented on #104
I can work on it

[2022-01-20 17:34] ayush268 opened #106 "🚨 Tests: Restructure and Add new FLSystemManager Tests"
### 🛩 Where?

Code Location:
https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/test/scala/org/nimbleedge/recoedge/FLSystemManagerSpec.scala#L40

The Actor + Functionality to be tested:
https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/FLSystemManager.scala

### 💭 D

[2022-01-20 17:55] ayush268 opened #107 "🚨 Tests: Add new Identifier Data Structure Tests"
### 🛩 Where?

Code Location:
https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/test/scala/org/nimbleedge/recoedge/models/IdentifierSpec.scala#L114

The Data Structure + Functionality to be tested:
https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/models/Identifier.

[2022-01-20 18:01] ayush268 opened #108 "🚨 Tests: Add Orchestrator Actor Tests"
### 🛩 Where?

Code Location:
https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/test/scala/org/nimbleedge/recoedge/OrchestratorSpec.scala#L9

The Actor + Functionality to be tested:
https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/Orchestrator.scala

### 💭 Descript

[2022-01-20 18:03] ayush268 opened #109 "🚨 Tests: Add Aggregator Actor Tests"
### 🛩 Where?

Code Location:
https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/test/scala/org/nimbleedge/recoedge/AggregatorSpec.scala#L9

The Actor + Functionality to be tested:
https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/Aggregator.scala

### 💭 Description

[2022-01-20 18:39] ayush268 opened #110 "Integration of Actor System into Python FL Stack"
- [ ] FLSystemManager Actor Completion
    - [ ] Fix and Add State Variables in the FLSystemManager Actor Behavior Class https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/FLSystemManager.scala#L64
    - [ ] Implement Start Cycle Message and Method https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c29

[2022-01-20 18:44] ayush268 opened #111 "Fix and Add State Variables in the FLSystemManager Actor Behavior Class RecoEdge/scala_core/src/main/scala/org/nimbleedge/recoedge/FLSystemManager.scala Line 64 in 75c397a // TODO"

[2022-01-20 18:47] ayush268 opened #112 "Implement Start Cycle Message and Method RecoEdge/scala_core/src/main/scala/org/nimbleedge/recoedge/FLSystemManager.scala Line 53 in 75c397a // TODO"

[2022-01-20 18:49] ayush268 opened #113 "Add more messages (methods) in FLSystemManager Actor"

[2022-01-20 18:50] ayush268 opened #114 "Take care of the case when Orchestrator Gets Terminated"

[2022-01-20 18:51] ayush268 opened #115 "Fix and Add State Variables in the Orchestrator Actor Behavior Class"

[2022-01-20 18:52] ayush268 opened #116 "Add more messages (methods) in Orchestrator Actor"

[2022-01-20 18:53] ayush268 opened #117 "Take care of the case when Aggregator Gets Terminated"

[2022-01-20 18:54] ayush268 opened #118 "Fix and Add State Variables in the Aggregator Actor Behavior Class"

[2022-01-20 18:55] ayush268 opened #119 "Add more messages (methods) in Aggregator Actor"

[2022-01-20 18:56] ayush268 opened #120 "Take care of the case when child Aggregator Gets Terminated"

[2022-01-20 18:58] ayush268 opened #122 "Fix and Add State Variables in the Trainer Actor Behavior Class"

[2022-01-20 18:58] ayush268 opened #123 "Add more messages (methods) in Aggregator Actor"

[2022-01-20 18:59] ayush268 opened #124 "Implement Trainer Methods"

[2022-01-20 19:16] ayush268 opened #125 "Actor Model Unit Testing Suite"
- [ ] #106
- [ ] #107
- [ ] #108
- [ ] #109

[2022-01-21 09:40] Viditagarwal7479 commented on #93
I have written the inline documentation for train.py and have created a pull request regarding this issue with the title "Added Inline Documentation".

[2022-01-21 10:03] ramesht007 commented on #93
Thanks for taking interest !!
Assigned the issue to you.

[2022-01-21 14:02] ayush268 opened #127 "📚 Documentation:"
###  🙋 Where

https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/FLSystemManager.scala

### 💭 Description

The FLSystemManager is the top level Actor for the FLSystem.

Under FLSystem, lies the entire FL System, mainly the following major actors (entities):
- Orchestrator (root nodes) - It will have aggregators as

[2022-01-21 14:05] ayush268 opened #128 "📚 Documentation: Inline Documentation for Orchestrator Actor"
###  🙋 Where

https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/Orchestrator.scala

### 💭 Description

The FLSystemManager is the top level Actor for the FLSystem.

Under FLSystem, lies the entire FL System, mainly the following major actors (entities):
- Orchestrator (root nodes) - It will have aggregators as chi

[2022-01-21 14:06] ayush268 opened #129 "📚 Documentation: Inline Documentation for Aggregator Actor"
###  🙋 Where

https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/Aggregator.scala

### 💭 Description

The FLSystemManager is the top level Actor for the FLSystem.

Under FLSystem, lies the entire FL System, mainly the following major actors (entities):
- Orchestrator (root nodes) - It will have aggregators as child

[2022-01-21 14:17] ayush268 opened #130 "📚 Documentation: Inline Documentation for RealTimeGraphQuery Actor"
###  🙋 Where

https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/RealTimeGraphQuery.scala

### 💭 Description

The FLSystemManager is the top level Actor for the FLSystem.

Under FLSystem, lies the entire FL System, mainly the following major actors (entities):
- Orchestrator (root nodes) - It will have aggregators

[2022-01-21 14:32] ayush268 opened #131 "📚 Documentation: Inline Documentation for Identifier Data Structure"
###  🙋 Where

https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/models/Identifier.scala

### 💭 Description

The FLSystemManager is the top level Actor for the FLSystem.

Under FLSystem, lies the entire FL System, mainly the following major actors (entities):
- Orchestrator (root nodes) - It will have aggregators a

[2022-01-21 14:35] ayush268 opened #132 "📚 Documentation: Inline Documentation for TopologyTree Data Structure"
###  🙋 Where

https://github.com/NimbleEdge/RecoEdge/blob/75c397a4d911cbea04f2c2913a95ccc8642d5bb6/scala_core/src/main/scala/org/nimbleedge/recoedge/models/TopologyTree.scala

### 💭 Description

The FLSystemManager is the top level Actor for the FLSystem.

Under FLSystem, lies the entire FL System, mainly the following major actors (entities):
- Orchestrator (root nodes) - It will have aggregators

[2022-01-22 10:34] gagans20 commented on #107
I'll take up this issue!

[2022-01-23 12:17] ayush268 commented on #107
Great!

[2022-01-25 14:56] eshaanagarwal commented on #77
Hi @ramesht007 ! I would like to work on this issue.

[2022-01-26 10:59] oyetripathi commented on #60
I would like to take this up.

[2022-01-26 14:37] vkkhare commented on #43
Closing this in favor of Zero Infinity implementation

[2022-01-26 14:37] #43 closed

[2022-01-26 14:38] #4 closed

[2022-01-26 14:48] vkkhare opened #135 "🚀 Feature: Scaling simulation with Zero Infinity"
### 🔖 Feature description

Support [Deep speed Zero Infinity](https://www.deepspeed.ai/tutorials/zero/#offloading-to-cpu-and-nvme-with-zero-infinity) in the multiprocessing job executor

### 🎤 Pitch

The actor system can support large-scale worker modeling. However, the ML Job Executor is still limited to the GPU memory in spawning new processes. To scale up to larger FL simulations, we have to us

[2022-01-26 14:52] Kratos-is-here commented on #63
Hi @ramesht007 !
 I would like to work on this issue.

[2022-01-26 16:41] vivekagarwal2349 commented on #51
hi @ramesht007 , i would like to work on this.

[2022-01-26 16:52] ramesht007 opened #137 "📚 Documentation: Write inline documentation for communications/message.py"
###  🙋 Where

File [Link](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/communications/messages.py)
https://github.com/NimbleEdge/RecoEdge/blob/7d9253c5a05a567a4151ecfd67794ab0565d5aff/fedrec/communications/messages.py#L10
https://github.com/NimbleEdge/RecoEdge/blob/7d9253c5a05a567a4151ecfd67794ab0565d5aff/fedrec/communications/messages.py#L26
https://github.com/NimbleEdge/RecoEdge/blob/

[2022-01-26 16:56] ramesht007 opened #138 "📚 Documentation: Write Inline Documentation for modules/ embeddings.py"
###  🙋 Where

File [Link](https://github.com/NimbleEdge/RecoEdge/blob/main/fedrec/modules/embeddings.py)

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and English grammar to the best of your ability.

We are using the pep8 format for documentation. The following links are concise and would be very useful:
- pep8

[2022-01-26 19:05] #60 closed

[2022-01-27 16:04] vkkhare opened #141 "🚀 Feature: Supporting multiple federated learning datasets in the library"
### 🔖 Feature description

While at one end we are implementing several state-of-the-art papers in federated learning, we need to support those implementations with readily available datasets. There have been some efforts in building unified access to FL datasets like LEAF, FedML, and others.

One such implementation is found in the recent paper [FedScale](https://arxiv.org/pdf/2105.11367.pdf). It

[2022-01-28 07:32] eshaanagarwal commented on #137
hi @ramesht007 ! Can this issue be assigned to me? My PR is almost ready.

[2022-01-28 17:11] Viditagarwal7479 commented on #93
Shouldn't this issue be closed now?

[2022-01-28 17:45] kaiserliche commented on #141
Hi !! Please assign the issue to me.

[2022-01-30 07:09] ramesht007 opened #146 "Requirement.txt not working after created from PIP freeze"
### Operating system

Ubuntu

### Python Version

3.8

### Project Location

Local

### Bug description

- `pip install -r requirement.txt` gives error when the `requirement.txt` from `pip freeze > requirement.txt`.
- There are multiple mismatch versions that we have to fix to run it

Following errors are the output:

<img width="1660" alt="Screenshot_2022-01-29_at_3 58 57_AM" src="https://user-im

[2022-02-02 17:29] #104 closed

[2022-02-07 09:25] rajeshwarisah commented on #146
@ramesht007 can you assign this to me?

[2022-02-17 16:37] #146 closed

[2022-02-23 10:30] #93 closed

[2022-03-07 18:55] #137 closed

[2022-03-08 15:49] divyanshugit opened #161 "📚 Documentation: Write Inline documentation for utilities/cuda_utils.py"
###  🙋 Where

File: [link](https://github.com/NimbleEdge/EnvisEdge/blob/main/fedrec/utilities/cuda_utils.py)

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and English grammar to the best of your ability.

We are using the pep8 format for documentation. The following links are concise and would be very useful:
-

[2022-03-08 16:10] divyanshugit opened #162 "📚 Documentation: Write Inline Documentation for utilities/random_state.py"
###  🙋 Where

File: [link](https://github.com/NimbleEdge/EnvisEdge/blob/main/fedrec/utilities/random_state.py)

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and English grammar to the best of your ability.

We are using the pep8 format for documentation. The following links are concise and would be very useful:

[2022-03-08 16:21] divyanshugit opened #163 "📚 Documentation: Write Inline documentation for utilities/serialization.py"
###  🙋 Where

File: [link](https://github.com/NimbleEdge/EnvisEdge/blob/main/fedrec/utilities/serialization.py)

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and English grammar to the best of your ability.

We are using the pep8 format for documentation. The following links are concise and would be very useful:

[2022-03-08 16:25] divyanshugit opened #164 "📚 Documentation: Write Inline Documentation for datasets/criteo_processor.py"
###  🙋 Where

File: [link](https://github.com/NimbleEdge/EnvisEdge/blob/main/fedrec/datasets/criteo_processor.py)

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and English grammar to the best of your ability.

We are using the pep8 format for documentation. The following links are concise and would be very usefu

[2022-03-09 14:51] divyanshugit opened #167 "📚 Documentation: Restructure the README"
###  🙋 Where

File: [link](https://github.com/NimbleEdge/EnvisEdge/blob/main/README.md)

### 💭 Description

Restructure the current `README.md`. Key things that the PR must include:

- [x] Add a new Introduction for EnvisEdge
- [x] Update repository structure
- [x] Update Contributing Guidelines for docs
- [x] Enrich docs with live examples( like: Screenshot/GIF)
- [x] Anything that you think will

[2022-03-19 10:00] kaiserliche opened #169 "📚 Documentation:"
###  🙋 Where

On the EvisEdge's Readme page, precisely under QuickStart.

### 💭 Description

Create an introductory tutorial on Google Colab Notebook for EnvisEdge.
Refer to the following repo(open in colab): https://github.com/ploomber/ploomber

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the gui

[2022-03-20 09:06] divyanshugit opened #170 "📚 Documentation: Fix broken links in Docs"
###  🙋 Where

List of broken links that need to be fixed:

- [ ] Contribute button on the side navigation bar. It should redirect to NimbleEdge/EnvisEdge.
- [ ] [Edit on GitHub on every page of docs](https://github.com/NimbleEdge/EnvisEdge/blob/master/docs/source/index.rst)
- [ ] [Dlrm_fl.yml on the getting started page](https://docs.nimbleedge.ai/configs/dlrm_fl.yml)
- [ ] In the tutorial section

[2022-03-20 09:18] divyanshugit opened #171 "📚 Documentation: Integrate the scala auto documentation feature to docs"
###  🙋 Where

- Integrate it over [here](https://github.com/NimbleEdge/EnvisEdge/tree/main/docs).

- Useful Resources:
  - [Scala-doc](https://docs.scala-lang.org/style/scaladoc.html)
  - [Guide for scala-doc](https://www.baeldung.com/scala/scaladoc)

### 💭 Description

We need to render the API docs for scala on the documentation page.

### 👀 Have you spent some time to check if this issue has be

[2022-03-21 11:50] ramesht007 opened #172 "🚀 Feature: Create a preprocessing pipeline for Shakespeare federated learning dataset"
### 🔖 Feature description

Need to integrate [Shakespeare dataset](https://github.com/TalwalkarLab/leaf/tree/master/data/shakespeare) ETL.
The preprocessing of the dataset should run through [script](https://github.com/NimbleEdge/EnvisEdge/blob/refactor-serializer/datasets/download.sh).

### 🎤 Pitch

The idea is to integrate different non-IID dataset to support different Machine learning tasks.
Fo

[2022-03-29 08:17] Bennykillua commented on #25
I will like to try issue 25

[2022-03-29 08:20] vkkhare commented on #25
Sure thanks for joining in the effort. We have assigned you the issue

[2022-04-01 09:43] Tob-iee commented on #170
Please can this task be assigned to me

[2022-04-14 15:37] Umang-pandey commented on #162
I'm  interested.

[2022-04-15 08:13] madhhuurrii commented on #170
Hii @divyanshugit, is this issue available?

[2022-04-15 18:10] divyanshugit commented on #170
Sorry @madhhuurrii, Tobiee is already working on it. You can pick other [good first issues](https://github.com/NimbleEdge/EnvisEdge/labels/good%20first%20issue). If you need any suggestions/help, reach out to me over discord. I'll try my best to help you out.

[2022-04-18 11:18] Jenniline commented on #163
Hi @divyanshugit and @vkkhare  I am interested in working on this issue.

[2022-04-18 14:42] satyamroy001 commented on #161
Please assign this task to me @divyanshugit @vkkhare sir,

regards

[2022-04-18 14:55] soma2000-lang commented on #164
working on this

[2022-04-18 15:17] divyanshugit commented on #167
Sorry, @satyamroy001 It's already resolved in the PR#168

[2022-04-18 15:17] #167 closed

[2022-04-18 15:24] divyanshugit commented on #161
You can start working on this. @vkkhare will assign you this soon.

[2022-04-19 18:03] vkkhare commented on #163
Sure @Jenniline please go ahead!

[2022-04-21 02:10] JoyNwaiwu commented on #54
Hi @vkkhare @ramesht007, if this hasn't been taken up yet, I'd like to work on it. Can you please assign me?

[2022-04-21 20:45] abhiwalia15 commented on #169
Is this issue open? I would like to work on this.

Let me know, thanks.

[2022-04-22 03:27] ramesht007 commented on #169
Hey @abhiwalia15 ,
This is issue is open but there are still blockers that need to be resolved before this can be done.
Thanks for taking interest, please feel free to take up another issue.
thanks

[2022-04-22 04:43] abhiwalia15 commented on #169
Thanks for letting me know. I will look for another issue of my interest.

[2022-04-22 04:56] abhiwalia15 commented on #132
Hello @ayush268, I would like to work on this issue. Please confirm if it is available.

Regards,
Mrinal

[2022-04-22 05:02] abhiwalia15 commented on #51
Hello @ramesht007, let me know if this issue is available and if yes, please assign it to me.

Thanks

[2022-04-22 10:34] ramesht007 commented on #51
Hey @abhiwalia15 ,
this issue is still not done.
please take this up
thanks

[2022-04-22 15:41] abhiwalia15 commented on #51
I am on it. Thanks

[2022-04-22 15:43] Kodalien commented on #125
Hi, @ayush268  can you assign me ？

[2022-04-22 16:13] Shorla commented on #131
Hi @ayush268 I would like to work on this issue. can I get assigned to it?

[2022-04-23 19:33] JoyNwaiwu commented on #54
Thank you! I have joined the server, and I'll start working on this.

[2022-04-24 12:16] soma2000-lang commented on #138
@ramesht007  I want to work on this . Can you please  tell me the function of  "def extra_repr(self):" in this file

[2022-04-24 12:32] yell0wfl4sh opened #181 "📚 Documentation:"
###  🙋 Where

Readme

### 💭 Description

Direct link to `Kaggle Display Advertising dataset` missing in Readme.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have you read the Code of Conduct?

- [X] I read the Code of Conduct

[2022-04-24 12:37] adinayyu commented on #163
@vkkhare @divyanshugit I am adithya from India and to apply for gsod 2022 I have created a pull request for this issue. This is my first pull request for nimbleedge. Check the pr and inform me what to do if something is wrong.
#180

[2022-04-25 13:26] beloshh commented on #181
can this issue be assigned to me?

[2022-04-26 16:17] Tob-iee commented on #62
Has this tack been assigned to anyone, If not I would like to take it up

[2022-04-27 03:14] ramesht007 commented on #62
hey @Tob-iee ,
thanks for taking interest.
Assigned you the issue.

[2022-04-27 04:44] imanishbarnwal commented on #25
Hey if no one is working on this issue can I take it? I want to work on this issue thank you!!

[2022-04-27 04:47] imanishbarnwal commented on #171
I want to work on this issue. Though I am not familiar with Scala, but I want to give it a try. Can you please assign me this issue @divyanshugit thank you!!

[2022-04-27 05:12] divyanshugit commented on #171
Thanks for your interest @imanishbarnwal but this issue still needs discussion. Can you please check out other issues?

[2022-04-27 05:15] divyanshugit commented on #171
You can check out [this](https://github.com/NimbleEdge/EnvisEdge/labels/scala).

[2022-04-27 14:25] Dule-mart commented on #170
Those this issue still need help or @Tob-iee is still working on it?

[2022-04-27 14:34] Dule-mart commented on #68
I can see that after the work done by @divyanshugit this issue is still open, would love to work on it but will need a little guide on where and what to start with.

[2022-04-27 14:36] Dule-mart commented on #68
Thanks!

[2022-04-27 14:41] ramesht007 commented on #68
@Dule-mart feel free to take up another issue!!

[2022-04-27 14:41] #68 closed

[2022-04-27 14:57] Tob-iee commented on #170
Yes, I'm still working on it, but apparently, there is a blocker. I have been able to talk to @ramesht007 about it. So he would have to get back to me on it before I proceed.

[2022-04-28 05:38] ramesht007 opened #183 "🚀 Feature: Improve EnvisEdge code base for better usability"
### 🔖 Feature description

- [ ] Add modules and submodules for make the  training jobs running.
- [ ] Add new models for that support federated leaning tasks.
- [ ] Add new federated learning datasets.
- [ ] improve the serialization and deserialization in the data models.
- [ ] Fix the readme with latest commands to run the code.

### 🎤 Pitch

Current code is not fully functional we need to impr

[2022-04-28 14:09] imanishbarnwal commented on #164
Hye is it still open to take or @soma2000-lang you are working on this issue?

[2022-04-28 17:53] ramesht007 commented on #63
ya sure @imanishbarnwal

[2022-04-30 09:15] ramesht007 opened #185 "📚 Documentation: Inline Documentation for aggregator_state_model.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models/aggregator_state_model.py#L44
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models/aggregator_state_model.py#L51
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models

[2022-04-30 09:15] #183 closed

[2022-04-30 09:18] ramesht007 opened #186 "📚 Documentation: Write Inline documentation for job_response_model.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models/job_response_model.py#L53
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models/job_response_model.py#L64

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use

[2022-04-30 10:15] Tob-iee commented on #186
I would like to handle this issue, please assign this to me

[2022-05-01 04:40] ramesht007 commented on #163
This file has been removed

[2022-05-01 04:40] #163 closed

[2022-05-01 04:42] ramesht007 commented on #62
This issue has been completed.

[2022-05-01 04:42] #62 closed

[2022-05-01 04:43] ramesht007 commented on #25
This module has been removed.

[2022-05-01 04:43] ramesht007 commented on #25
This module has been removed.

[2022-05-01 04:43] #25 closed

[2022-05-01 04:51] ramesht007 opened #187 "📚 Documentation: Write inline documentation for envis_module.py"
###  🙋 Where

Here: [LINK](https://github.com/NimbleEdge/EnvisEdge/blob/main/fedrec/data_models/envis_module.py)

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and English grammar to the best of your ability.

We are using the pep8 format for documentation. The following links are concise and would be very useful

[2022-05-01 04:53] ramesht007 opened #188 "📚 Documentation: Write inline documentation for job_submit_model.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models/job_submit_model.py#L54
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models/job_submit_model.py#L70

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use prop

[2022-05-01 04:55] ramesht007 opened #189 "📚 Documentation: Write inline documentation for trainer_state_model.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models/trainer_state_model.py#L32
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/data_models/trainer_state_model.py#L47

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to us

[2022-05-01 04:56] #21 closed

[2022-05-01 04:57] ramesht007 commented on #141
- [x] Femnist dataset added thanks to @kaiserliche @ramesht007

[2022-05-01 04:59] ramesht007 opened #190 "📚 Documentation: Write inline documentation for process_manager.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/multiprocessing/process_manager.py#L57
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/multiprocessing/process_manager.py#L66
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/multiprocessing/p

[2022-05-01 05:11] ramesht007 opened #191 "📚 Documentation: Write inline documentation for serializer_registry.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/serialization/serializer_registry.py#L8
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/serialization/serializer_registry.py#L14
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/serialization/

[2022-05-01 05:21] soma2000-lang commented on #138
@ramesht007 it would be great if you answer my query

[2022-05-01 05:26] soma2000-lang commented on #138
What does PrEmbeddingBag,alpha_power_rule and extra_repr do in embeddings.py.Issue #138 @ramesht007

[2022-05-01 05:50] ramesht007 commented on #138
ya sure,
it is like adding a extra rapper layer upon the embedding.
Please go through this research study to get in deapth knowledge about it.
[LINK](https://arxiv.org/pdf/1909.11810.pdf)
Thanks

[2022-05-01 05:52] ramesht007 commented on #138
Also @soma2000-lang  I would suggest, Please complete the earlier PR's.
Before starting on the new one.
thanks

[2022-05-01 05:56] ramesht007 opened #192 "📚 Documentation: Write inline documentation for io_utils.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/utilities/io_utils.py#L7
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/utilities/io_utils.py#L15
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/utilities/io_utils.py#L19
- https://github.c

[2022-05-01 05:59] ramesht007 opened #193 "📚 Documentation: Write inline documentation for saver_utils.py"
###  🙋 Where

Here
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/utilities/saver_utils.py#L12
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/utilities/saver_utils.py#L21
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/fedrec/utilities/saver_utils.py#L30
- https:/

[2022-05-01 06:02] ramesht007 opened #194 "📚 Documentation: write inline documentation for femnist_processor.py"
###  🙋 Where

here :
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/datasets/femnist/femnist_processor.py#L25
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/datasets/femnist/femnist_processor.py#L31
- https://github.com/NimbleEdge/EnvisEdge/blob/00f554973085c54da98caf37721bec27ba07380d/datasets/femnist/femnist_proces

[2022-05-01 06:07] soma2000-lang commented on #138
@ramesht007  Thank you.Also I had dm ed you my rough statement of interest for GSOD 22 .It would be great if you can review it for once

[2022-05-01 06:18] haripriya9647 commented on #194
Hey, @ramesht007 I would like to work on this issue. Though this seems a bit new to me yet I am reviewing other prs similar to this. Looking forward to your help.Thanks in advance :)

[2022-05-01 06:19] imanishbarnwal commented on #193
Hey @ramesht007, i would like to take this issue kindly assign me

[2022-05-01 06:36] madhhuurrii commented on #189
Hii @ramesht007, I would like to work on this issue!

[2022-05-01 07:14] haripriya9647 opened #195 "📚 Documentation: Improve Readme"
###  🙋 Where

https://github.com/NimbleEdge/EnvisEdge/blob/main/README.md

### 💭 Description

I would like to improve the readme for this repo. This is for new contributors who have no idea of **forking and cloning the repo and submitting a pull request**. Well, I want to **redirect it to the actual documentation** so that It will be easy for them to refer to the steps and implement them. I am wis

[2022-05-01 07:23] BhaswatiRoy commented on #189
Hello @ramesht007 , I can work on this issue.
I went through the pep8 guidelines and also checked merged inline docs to get proper idea.

[2022-05-01 07:25] BhaswatiRoy commented on #192
Hello @ramesht007 , I can work on this issue.
I went through the pep8 guidelines and also checked some merged inline docs to get proper idea

[2022-05-01 12:31] ramesht007 commented on #195
hey @haripriya9647 ,
thanks for finding the error.
can create with the README.md that you are proposing.
and grammar fixes.
thanks

[2022-05-01 12:33] ramesht007 commented on #194
hey @haripriya9647,
please go ahead and take up the issue.
When you put up a PR, I will assign the issue to you.
thanks

[2022-05-01 12:34] ramesht007 commented on #193
Hey @imanishbarnwal ,
go ahead 🚀

[2022-05-01 12:36] ramesht007 commented on #192
Hey @BhaswatiRoy,
great to know that you went through the guidelines.
Go ahead and work on it.

[2022-05-02 07:21] haripriya9647 opened #200 "📚 Documentation: Fixing a minor typo-Line96"
###  🙋 Where

https://github.com/NimbleEdge/EnvisEdge/edit/main/docs/source/tutorials/Tutorial-Part-2-starting_with_nimbleedge.rst

### 💭 Description

I observed a minor typo . There is a word settting which needs to be changed to setting.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines

[2022-05-02 07:21] haripriya9647 commented on #200
@ramesht007 @vkkhare Can I start working on this typo??

[2022-05-02 20:41] deepeshaburse commented on #191
Hi! I would like to work on this issue.

[2022-05-02 21:57] vickywane commented on #188
Hi @ramesht007 ,

I will like to take this issue up and work on it.

[2022-05-02 22:10] Soot3 commented on #190
@ramesht007 I can take this on. I have read through the guides

[2022-05-03 00:36] dchidindu5 opened #203 "📚 Documentation: first issue"
###  🙋 Where

[README file](https://github.com/NimbleEdge/EnvisEdge/README.md)

### 💭 Description

I spotted a broken link in the **README** file under the **Demos and tutorials** section.
The link should be directed to a folder under tutorials and docs

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read

[2022-05-03 01:04] prakharshreyash opened #204 "📚 Documentation: Removing grammartical errors from Readme.md file"
###  🙋 Where

[Readme.md file](https://github.com/NimbleEdge/gsod#readme)

### 💭 Description

Readme.md file has many grammartical errors which I will fix.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have you read the Code of Conduct?

- [X]

[2022-05-03 03:14] Muhtoyyib commented on #204
I would be happy if this is assigned to me

[2022-05-03 05:00] #51 closed

[2022-05-03 05:04] ramesht007 commented on #191
Hey @deepeshaburse ,
Thanks for taking interest.
Go ahead 🚀
thanks

[2022-05-03 05:04] ramesht007 commented on #190
Sure @Soot3 go for it 🚀

[2022-05-03 05:05] ramesht007 commented on #188
sure go ahead @vickywane 🚀 🎸

[2022-05-03 05:09] ramesht007 commented on #200
Hey @haripriya9647 ,
let others also learn from these open issues. 👥
and we should also maintain heathy community practices. ❤️
feel free to guide one of your fellow volunteers to fix this issue. 🤝
this is the best part of open source. ✌️
thanks.

[2022-05-03 05:11] ramesht007 commented on #203
hey @dchidindu5 ,
thanks for spotting this.
Sure go ahead and fix this.
Also if you have other improvements, feel free to include in that PR.

[2022-05-03 05:12] haripriya9647 commented on #200
Sure @ramesht007 If possible I will open more issues for volunteers

[2022-05-03 05:13] ramesht007 commented on #200
That's the spirit we are looking for!!

[2022-05-03 05:15] ramesht007 commented on #204
Hey @prakharshreyash,
Thanks for proposing this issue can you elaborate upon the fixed that you are proposing on the README.md file.
Thanks

[2022-05-03 05:15] #186 closed

[2022-05-03 05:22] vedant-jain03 commented on #200
Hey, I want to work on this issue, is this taken?

[2022-05-03 05:23] vedant-jain03 commented on #187
@ramesht007 Can I work on this issue?

[2022-05-03 05:23] haripriya9647 commented on #200
Hey not yet!! Just take a confirmation once from @ramesht007 and I think you are good to go!!!

[2022-05-03 05:24] vedant-jain03 commented on #200
Sure
@ramesht007 What do you think, can I work on this issue?

[2022-05-03 05:27] ramesht007 commented on #200
Hey @vedant-jain03 ,
Can share you proposed changes in bullet point list and line number where you are making these changes.
Also, I want you to go through all the tutorials to find the typos and broken links and propose that changes.
Does it sounds good?

[2022-05-03 05:29] vedant-jain03 commented on #200
Sounds great, thankyou.
Will share all the changes !!

[2022-05-03 05:32] Tob-iee commented on #170
I would like to continue working on this task @divyanshugit, @ramesht007  and @vkkhare, please can it be assigned to me.

Also I would to ask we will consider going with trainer_modules or training_modules, As a new name for the experiments folders?

[2022-05-03 05:35] ramesht007 commented on #187
Hey @vedant-jain03 ,
i think you have taken one issue already.
please complete that issue and then take up another.
thanks

[2022-05-03 05:35] Tob-iee commented on #170
And also I think some just re-created this as an issue a few hours ago, so I am a bit confused @ramesht007

[2022-05-03 05:45] divyanshugit commented on #170
You can start working on this and make a PR. In the meantime, someone will assign this to you. On the second part, we can discuss it over Discord and decide.

[2022-05-03 05:47] divyanshugit commented on #170
That issue is specific to the README

[2022-05-03 05:51] haripriya9647 opened #205 "📚 Documentation: Changing type of Federated Learning into bullet points and providing and short description to it"
###  🙋 Where

https://github.com/NimbleEdge/EnvisEdge/blob/main/docs/source/tutorials/Tutorial-Part-1-introduction_to_fl.rst

### 💭 Description

Types should be converted into bullet points and a proper short description should be provided
Line no - 20,21

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you re

[2022-05-03 05:56] Muhtoyyib commented on #204
The README.md file is a great introduction EnvisEdge Documentation but I think it needs a little changes. Below is a list of the changes I would love to make to the file.

1. I thought it would be good to present all the "edge computing" in the file with the word 'edge' starting with a capital letter to give readers more insights about Edge Computing. Many beginners don't know what edge computing

[2022-05-03 06:02] haripriya9647 opened #207 "📚 Documentation: Broken link in Starting with NimbleEdge"
###  🙋 Where

https://docs.nimbleedge.ai/tutorials/tutorial-part-2-starting_with_nimbleedge

### 💭 Description

Line no - 51
Please discuss with maintainer regarding the broken link before submitting a pr

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

[2022-05-03 06:04] prakharshreyash commented on #204
@ramesht007 I have fixed some grammatical errors that were there in the [Readme file](https://github.com/NimbleEdge/gsod#readme). Kindy review my [PR](https://github.com/NimbleEdge/gsod/pull/1). Thanks.

[2022-05-03 06:07] adinayyu commented on #203
@ramesht007 I am adithya from India and I have created a pr #206 for this issue. Check and give any suggestions for it

[2022-05-03 06:14] divyanshugit commented on #207
We already have this issue #170

[2022-05-03 06:15] haripriya9647 commented on #207
Oops I am closing this

[2022-05-03 06:19] vedant-jain03 commented on #200
@ramesht007 I have added some Broken Links and Typo Errors for listed tutorials in the Docs. Kindly Review them and let me know if I need to add anything?

## Tutorials Typo Error and Broken Links
1. Introduction to Federated Learning
   - Broken Links:
      - Line 130 [Error: Page Not Found]
   - Typo Error:
      - Line 180 : `are` -> `is`
      - Line 31 : `resposible` -> `responsible`
      -

[2022-05-03 06:19] #207 closed

[2022-05-03 06:23] vedant-jain03 commented on #187
Yaa I was just going through all the issues and wanted to start working on it 😅

[2022-05-03 07:57] burpcat commented on #205
Hey, Can I work on this issue?

[2022-05-03 08:04] imanishbarnwal commented on #193
Hey @ramesht007 I sent PR #208 but it says `merging is blocked` I followed the style and formatting guide but still, it's happening can you please help me with this. Thank You!!

[2022-05-03 08:06] burpcat commented on #205
Hey, can I work on this issue. Or is it assigned to anyone else?

[2022-05-03 08:09] haripriya9647 commented on #205
Hey @burpcat its not assigned to anyone yet.Just take confirmation from @ramesht007 once before working on this

[2022-05-03 08:09] burpcat commented on #205
@ramesht007 Can i work on this?

[2022-05-03 08:47] burpcat opened #209 "📚 Documentation: Fixing grammar in GitHub Readme of EnvisEdge"
###  🙋 Where

Issue needs to be fixed at "https://github.com/NimbleEdge/EnvisEdge" in the Repo Structure

### 💭 Description

Correct kafka spelling in Repo Structure part of the readme

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have you rea

[2022-05-03 09:03] burpcat commented on #209
@ramesht007. Since this is a minuscule issue. I went ahead and fixed the issue and created a PR. Hope its okay

[2022-05-03 09:24] arushi-mittal commented on #185
Hello, I would love to work on this issue, please assign it to me!

[2022-05-03 11:50] Gaurav4code opened #211 "📚 Documentation: Fixing a broken link in the TUTORIALS section"
###  🙋 Where

https://github.com/NimbleEdge/EnvisEdge/blob/main/docs/source/tutorials/Tutorial-Part-6-customization.rst

### 💭 Description

 `Broken Links` :
-    **Customization**
-      Training Configuration
          Line  - 14
-      Model Architecture
           Line - 56

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar i

[2022-05-03 16:04] divyanshugit commented on #211
@Gaurav4code we already have an issue for this as #170

[2022-05-03 16:05] divyanshugit commented on #211
@Gaurav4code Can you please go through the open issues before creating an issue!!

[2022-05-03 16:11] Gaurav4code commented on #211
Ok ,sure should I just close this issue

[2022-05-03 16:11] divyanshugit commented on #211
Yupp, that will be great.

[2022-05-03 16:13] #211 closed

[2022-05-03 21:42] dchidindu5 commented on #203
@adinayyu This work has already being assigned to @dchidindu5
please raise another issue, thanks

[2022-05-03 22:09] dchidindu5 commented on #203
@ramesht007 This is the Pull Request tag #213 for the issue I raised.
Please review and Merge. Thanks.

[2022-05-04 01:30] Muhtoyyib commented on #181
Can this issue be assigned to me?

[2022-05-04 01:35] Muhtoyyib commented on #200
Can this be assigned to me?

[2022-05-04 02:40] vedant-jain03 commented on #200
Hey, @Muhtoyyib thank you for your interest but I am on my way to working on it, waiting for @ramesht007 feedback!

[2022-05-04 04:36] ramesht007 commented on #209
Hey @burpcat ,
Thanks for pointing out the mistake.
Please take up another open issue and fix this mistake with that.
thanks for understanding.

[2022-05-04 04:36] #209 closed

[2022-05-04 04:39] ramesht007 commented on #205
Thanks @haripriya9647 for suggesting a better documentation type.
Sure @burpcat you can go ahead and improve it.
I am assigning @burpcat @haripriya9647 both to this issue so that you can collaborate and work on this issue to imporve the content.

[2022-05-04 04:40] ramesht007 commented on #205
Feel free to have open discussion about it on [discord ](https://nimbleedge.ai/discord) on #EnvisEdge channel.
So everyone can take part in it.
thaks

[2022-05-04 04:45] ramesht007 commented on #187
Please put a PR for first one and try to complete it and merge it and then take up another issue.
Thanks

[2022-05-04 04:46] ramesht007 commented on #185
Hey @arushi-mittal ,
Thanks for taking interest in the issue.
go ahead and start working on it.
thanks

[2022-05-04 04:47] ramesht007 commented on #169
Completed in #184

[2022-05-04 04:47] #169 closed

[2022-05-04 05:29] souravrhythm commented on #204
Hi @Muhtoyyib! Thanks for sharing the changes you wanna make in the README.md file, please submit a pull request if you wanna contribute.

[2022-05-04 06:17] soma2000-lang opened #216 "📚 Documentation: Updating the repo structure"
###  🙋 Where

[here](https://github.com/NimbleEdge/EnvisEdge/blob/main/README.md)

### 💭 Description

There have been a few typos in the repo structure of the readme.md file. I have fixed that.

### 👀 Have you spent some time checking if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Hav

[2022-05-04 06:31] ramesht007 commented on #216
This issue has already been put up,
Please first check and then create the issue, so that it is easy to track.
thanks

[2022-05-04 06:31] #216 closed

[2022-05-04 07:57] nelsonkimani63 commented on #189
Hello @ramesht007 Please, assign me this issue. Thanks

[2022-05-04 08:21] haripriya9647 commented on #205
@burpcat can you ping me once in discord

[2022-05-04 10:15] JoyNwaiwu commented on #54
Hi @ramesht007, I'm getting a 404 error and unable to access the file. Not sure what might have gone wrong. Can you please help?

[2022-05-04 10:38] divyanshugit commented on #54
@ramesht007  Can you please update the location of the [file](https://github.com/NimbleEdge/EnvisEdge/blob/main/fedrec/communication_interfaces/zeroMQ_interface.py)?

[2022-05-04 13:50] Mr-Destructive opened #217 "📚 Documentation: Fix broken links in tutorial section"
###  🙋 Where

PATH: https://github.com/NimbleEdge/EnvisEdge/blob/main/docs/source/tutorials/Tutorial-Part-6-customization.rst

### 💭 Description

A couple of links in the following sections are broken :
- Training Configuration (for training config flags)
- Model Architecture --> Adding new models (for fedrec modules)

There is already a closed issue on this #211 but it was redirected to #170

###

[2022-05-05 05:06] akshitadixit commented on #187
Hi @ramesht007 may I pick this while vedant solves another issue?

[2022-05-05 05:08] ramesht007 commented on #187
hey @akshitadixit ,
sure go ahead

[2022-05-05 05:54] ramesht007 commented on #203
Hey @dchidindu5 ,
can you take up another issue and combine this issue with that.
And propose a single PR for both. This is to follow best opensource practices.
thanks

[2022-05-05 07:56] Roxie-32 commented on #204
@souravrhythm has this been assigned to anyone, can I contribute to this?

[2022-05-05 10:07] ramesht007 opened #219 "📚 Documentation: Write inline documentation for envis_wrapper.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_wrapper.py#L35
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_wrapper.py#L43
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_wrapper.

[2022-05-05 10:11] thebhavana commented on #219
Hey @ramesht007
Can you assign me this issue?

[2022-05-05 10:11] ramesht007 opened #220 "📚 Documentation: Write inline documentation for envis_trainer.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_trainer.py#L16
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_trainer.py#L43
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_trainer.

[2022-05-05 10:12] ramesht007 commented on #219
sure go ahead @thebhavana 🚀

[2022-05-05 10:17] ramesht007 opened #221 "📚 Documentation: Write inline documentation for envis_preprocessor.py"
###  🙋 Where

here:
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_preprocessor.py#L8
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_preprocessor.py#L21
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis

[2022-05-05 10:20] ramesht007 opened #222 "📚 Documentation: Write inline documentation for envis_base_module.py"
###  🙋 Where

Here:
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_base_module.py#L10
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_base_module.py#L22
- https://github.com/NimbleEdge/EnvisEdge/blob/27a8c8762d2fe7e880ff6a379152084220294f27/fedrec/user_modules/envis_

[2022-05-05 10:27] ramesht007 opened #223 "📚 Documentation: Write inline documentation for envis_aggregator.py"
###  🙋 Where

Here: [LINK](https://github.com/NimbleEdge/EnvisEdge/blob/main/fedrec/user_modules/envis_aggregator.py)

### 💭 Description

We need to go "line-by-line" and create inline documentation for this file. Please try to use proper punctuation and English grammar to the best of your ability.

We are using the pep8 format for documentation. The following links are concise and would be very u

[2022-05-05 10:36] imanishbarnwal commented on #223
Hey @ramesht007 i would like to work on this issue.

[2022-05-05 10:47] ramesht007 commented on #223
sure go ahead @imanishbarnwal 🚀

[2022-05-05 10:56] nelsonmic commented on #217
Hi there, I would like this task to be assigned to me

[2022-05-05 12:55] pratik2315 commented on #222
Hey @ramesht007 If its okay with you can i work on this issue?

[2022-05-05 12:57] pratik2315 commented on #221
Hey @ramesht007. If im not wrong inline documentation means python comments right? Sorry if the questions sounds silly😅

[2022-05-05 13:50] Dule-mart commented on #220
Hi, @ramesht007 can you guide me on how to fix this? I think inline documentation of python code, has never done before but would love a try.

[2022-05-05 14:13] vedant-jain03 commented on #200
@ramesht007 Can I go ahead with this issue?

[2022-05-05 17:10] abhiwalia15 commented on #205
Hey @ramesh, I would like to work with @haripriya9647 to improve the grammar and language of this document using the professional Grammarly tool.

Please assign the issue to us.

Thanks

[2022-05-05 19:06] Tob-iee commented on #205
I can assist if the task is a large on @ramesht007

[2022-05-05 22:28] abhiwalia15 commented on #205
Please assign the issue to me. I would like to work on this with @haripriya9647. I have taken consent from @ramesht007  on this. Thanks

[2022-05-06 01:01] Tob-iee commented on #205
I don't have the ability to assign tasks please

[2022-05-06 01:23] ramesht007 commented on #203
Hey @dchidindu5 can look at issue #205 (comment in the issue so that I can assign you that) and work with others to make single PR fix all these issues.
Also can you list here the errors you found in the readme?
Preferably in bullet points.
thanks!!

[2022-05-06 01:23] ramesht007 commented on #222
yes, @pratik2315 go ahead 🚀

[2022-05-06 06:32] ramesht007 commented on #221
it is called inline documentation, as it is written with proper guidelines and formatting.

[2022-05-06 06:33] ramesht007 commented on #217
HI, @nelsonmic
Please comment on issue #205 where volunteers are working to fix all the tutorials. You can also help them out.
thanks

[2022-05-06 12:17] neelimagoogly commented on #221
Hi @ramesht007 , I want to work on this issue . Can you please assign me this?

[2022-05-06 12:34] ifeoluwafavour commented on #220
Hi @ramesht007
I would like to work on this. Can you please assign me this task?

[2022-05-06 12:53] dchidindu5 commented on #205
I'd like to work on this issue too

[2022-05-06 13:24] dchidindu5 commented on #205
- I spotted a broken link in the **README file** under the **Demos and tutorials section**. The link should be directed to a folder where tutorials and demos documents are.
-
![EnvisEdge1](https://user-images.githubusercontent.com/18760267/167139804-12d5a6e9-c1f1-4cda-becf-dcf4232b5cb3.PNG)

This should be the correct link - https://github.com/NimbleEdge/EnvisEdge/tree/main/docs/source/tutorials

[2022-05-06 13:31] dchidindu5 commented on #205
@ramesht007 I'd also like to improve this document, I've found some typo errors here too. [Introduction to Federated Learning]( https://github.com/NimbleEdge/EnvisEdge/blob/main/docs/source/tutorials/Tutorial-Part-1-introduction_to_fl.rst)

[2022-05-06 14:02] ramesht007 commented on #205
go ahead @dchidindu5

[2022-05-06 15:09] abhiwalia15 commented on #205
I will run the entire content through Grammarly to check for language and grammar mistakes.

[2022-05-06 15:39] ramesht007 opened #237 "📚 Documentation: improve tutorials"
###  🙋 Where

[Here](https://github.com/NimbleEdge/EnvisEdge/tree/main/docs/source/tutorials)

### 💭 Description

We need to improve the tutorials for android and iOS for federated learning.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have y

[2022-05-06 15:56] burpcat commented on #205
@dchidindu5 @abhiwalia15 @haripriya9647

So, Im fixing all the broken links in "Tutorials" part of the EnvisEdge documentation. Any conflicts let me know.

[2022-05-06 15:58] divyanshugit commented on #237
Hi @ramesht007, I would love to work on this.

[2022-05-06 16:00] Tob-iee commented on #237
@ramesht007 @divyanshugit

[2022-05-06 16:06] Dule-mart commented on #237
@ramesht007 @divyanshugit @Tob-iee  great doing this with you guy ❤️

[2022-05-06 16:15] abhiwalia15 commented on #205
I am woking on the typos for this tutorial 1, please work on other tutorials as it will cause confusion and conflicts.

[2022-05-06 17:06] MasterBlaster99 commented on #237
@ramesht007 @divyanshugit

[2022-05-06 18:30] haripriya9647 commented on #237
@ramesht007 @divyanshugit

[2022-05-07 21:40] AIgbine commented on #205
I would like to continue working on the Deployment tutorial. I have noticed some other errors @ramesht007.
https://docs.nimbleedge.ai/tutorials/tutorial-part-4-deployment#

[2022-05-07 21:43] dchidindu5 commented on #205
@abhiwalia15 I'm working on that already

[2022-05-07 22:20] dchidindu5 commented on #205
@ramesht007 Please review my pull request I made a correction to tutorial 4 #250

[2022-05-07 22:22] dchidindu5 commented on #205
Currently working to improve tutorial 5 @ramesht007

[2022-05-08 21:51] dchidindu5 commented on #205
Currently working to improve tutorial 5 @ramesht007

[2022-05-09 02:38] ramesht007 commented on #237
Thanks for helping us everyone!!.
Happy Open-Sourcing ❤️

[2022-05-09 02:38] #237 closed

[2022-05-09 02:41] #217 closed

[2022-05-09 02:42] ramesht007 commented on #204
go ahead @Roxie-32 you can take up this issue.

[2022-05-09 02:52] ramesht007 commented on #200
ya @vedant-jain03 you can go ahead and work on it.
sorry for delayed reply

[2022-05-09 20:16] abhiwalia15 commented on #162
Hey @ramesht007, if this issue is still open, I would like to complete this. I have already worked on a similar issue before and it was successfully merged, so I believe I can handle this. Thanks

[2022-05-10 07:28] divyanshugit commented on #162
@Umang-pandey Are you working on this?

[2022-05-10 15:33] haripriya9647 opened #258 "📚 Documentation: Fix broken links"
###  🙋 Where

Path added in description

### 💭 Description

When I click on **docs**, what I observed is shown in the below image:
![Screenshot from 2022-05-10 11-21-55](https://user-images.githubusercontent.com/66864971/167665235-561d3b8d-f8a8-4231-be10-018e06eb6bb6.png)
Where to make an edit - [link](https://github.com/NimbleEdge/EnvisEdge/edit/main/CONTRIBUTING.md)  Line - 18

When I click on *

[2022-05-10 16:28] dchidindu5 commented on #205
@ramesht007  I Fixed series of typo errors and improved the docs in Tutorial 5 (Local training.rst) #259

[2022-05-11 01:44] soma2000-lang commented on #91
@ramesht007  I want to try something new. It would be great if you can guide how to get started solving this issue?

[2022-05-12 07:27] haripriya9647 commented on #258
@ramesht007 shall I work on this or do you want me to leave it for other volunteers??

[2022-05-12 23:15] dchidindu5 commented on #205
@ramesht007 please review and merge my pull requests

[2022-05-13 19:15] GDTarot commented on #130
Hello! May I be assigned please?

[2022-05-20 08:20] burpcat commented on #223
Hey @ramesht007 .. If @imanishbarnwal isnt working on this issue.. I would want to be a part?

[2022-05-20 11:03] imanishbarnwal commented on #223
Already submitted PR @burpcat

[2022-05-22 14:29] ramesht007 commented on #91
sure

[2022-05-22 14:33] ramesht007 commented on #205
left some comments please fix
thanks

[2022-05-27 12:54] haripriya9647 opened #265 "📚 Documentation: Improving docs"
###  🙋 Where

https://docs.nimbleedge.ai/

### 💭 Description

Checking the whole docs using grammerly tool to reframe sentences and correct gramatical errors.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have you read the Code of Conduct?

-

[2022-05-27 12:56] harshit-bansal18 opened #266 "🚀 Feature: Error Handler Utility in Python"
### 🔖 Feature description

A generic decorator to handle unexpected behaviour in Python functions. This feature will help in making code more concise and readable.

### 🎤 Pitch

This feature will help save a lot of time coding new features and any error will be handled without causing the execution to stop. Any exception raised will be shown in output and the execution will proceed further.

### 📖

[2022-06-01 12:05] #190 closed

[2022-06-02 08:13] Dule-mart commented on #258
Hey @haripriya9647 if you want to leave it for other volunteers like me, then kindly ping me on slack because I would love to work on it.

@ramesht007 what is your thought?

[2022-06-03 05:06] divyanshugit opened #269 "📚 Documentation: Rewriting the inline documentation for fedrec module"
###  🙋 Where

Directory: [link](https://github.com/NimbleEdge/EnvisEdge/tree/main/fedrec)

### 💭 Description

We have brief documentation of the files in the `fedrec` directory. We need re-write the whole documentation by explaining and adding examples of those using previously written documentation. If you need any sort of help with this issue comment down over here or head over #envisedge channe

[2022-06-03 07:36] #265 closed

[2022-06-03 07:40] haripriya9647 opened #270 "📚 Documentation: broken link"
###  🙋 Where

https://docs.nimbleedge.ai/getting_started.html

### 💭 Description

broken link at preprocess_data

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have you read the Code of Conduct?

- [X] I read the Code of Conduct

[2022-06-03 13:25] haripriya9647 opened #272 "📚 Documentation: improving tuitorials"
###  🙋 Where

https://docs.nimbleedge.ai/tutorials/index.html

### 💭 Description

restructure and adding docs to existing tuitorials

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have you read the Code of Conduct?

- [X] I read the Code of Con

[2022-06-04 18:15] Dule-mart commented on #258
Hey @ramesht007 waiting for your comment on this.

[2022-06-05 20:29] bashirk opened #274 "📚 Documentation: Improving the getting started instructions"
###  🙋 Where

https://docs.nimbleedge.ai/getting_started.html

### 💭 Description

Some instructions on the Getting Started with EnvisEdge doc page are redundant, and need improving.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have you read t

[2022-06-07 14:15] haripriya9647 opened #276 "📚 Documentation: improve existing readme"
###  🙋 Where

https://github.com/NimbleEdge/EnvisEdge/blob/main/README.md

### 💭 Description

The commits which I will be making will include lots of new features like assigning badges to contributors on the basis of contributions made, faq, detailed installation process, how to get involved etc...

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and

[2022-06-17 12:43] #274 closed

[2022-06-25 16:00] #276 closed

[2022-06-25 16:01] #270 closed

[2022-06-27 12:18] bashirk opened #287 "📚 Documentation: comments for utilities/saver_utils.py"
###  🙋 Where

PATH:/fedrec/uilities/saver_utils.py

### 💭 Description

Code in utilities should be properly commented

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the guidlines?

- [X] I have read the Guildlines

### 🏢 Have you read the Code of Conduct?

- [X] I read the Code of Conduct

[2022-07-22 15:10] haripriya9647 opened #312 "🚀 Feature: Feedback section in docs"
### 🔖 Feature description

 Currently researching the best possible solution for this feature.

### 🎤 Pitch

Either it could be a popup message or feedback button or work.

### 📖 Additional Content

_No response_

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read

[2022-09-25 03:00] sofezticated-gentleman commented on #220
hey @ramesht007 is this issue still open ?

[2022-09-25 03:01] sofezticated-gentleman commented on #219
hey @ramesht007 is this issue still open ?

[2022-09-25 03:04] sofezticated-gentleman commented on #200
hey @ramesht007 I am interested in this issue but is it still open is so can you please assign it to me

[2022-09-25 03:05] sofezticated-gentleman commented on #194
@ramesht007 @haripriya9647 is this issue still open?

[2022-09-25 03:08] sofezticated-gentleman commented on #127
hey @ayush268 I am intrested in this issue can you please assign me to it....

[2022-09-25 03:10] sofezticated-gentleman commented on #105
hey @ramesht007 I would like to work on this issue an you please assign it to me?

[2022-09-25 12:27] haripriya9647 commented on #194
@sofezticated-gentleman you can start working on this

[2022-10-07 07:49] Balajithegr8 commented on #204
hey @ramesht007 I have spotted many grammatical errors, I would like to work on this, can you assign it to me

[2022-10-12 12:20] ramesht007 commented on #204
Hey @Balajithegr8 ,
can you put up a PR then I will assign you the issue.
thanks

[2022-10-13 15:52] Balajithegr8 commented on #204
Hey @ramesht007 I have created the pull request as you requested.
Can you accept it and assign it to me?
i have one more question - it is related to hacktober fest also right?.
Have a good day.

On Wed, Oct 12, 2022 at 5:50 PM Ramesht Shukla ***@***.***>
wrote: